# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: BSD-3-Clause

config QCRYPTO
	bool "QCOM crypto HAL"
	default y
	select QURT_ABSTRACTION_LAYER
	select QSYSTEM
	select QHW_SUPPORT
