# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: BSD-3-Clause-Clear

config QHW_SUPPORT
	bool
	default n
	depends on QURT_ABSTRACTION_LAYER && QSYSTEM && QPOWER
	select CPR_ENABLE

config CPR_ENABLE
    bool "Core power reduction by decreased core voltage"
    default n
