# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: BSD-3-Clause-Clear

config QWIFI
	bool "QCOM wifi HAL"
	default n
	select QURT_ABSTRACTION_LAYER
	select MBEDTLS
	select MBEDTLS_CMAC
	select MBEDTLS_CIPHER_AES_ENABLED
	select MBEDTLS_CIPHER_DES_ENABLED
	select MBEDTLS_PKCS5_C
	select MBEDTLS_NIST_KW_C
	select MBEDTLS_MD_C
	select MBEDTLS_SHA1
	select MBEDTLS_CIPHER

	select MBEDTLS_ECP_C
	select MBEDTLS_ECP_DP_SECP256R1_ENABLED
	select MBEDTLS_ENTROPY_C
	select MBEDTLS_HKDF_C

config MAIN_STACK_SIZE
	default 2048 if QWIFI

config DP_RAM_LOCATED
    bool "Locate code of data path into RAM"
    depends on QWIFI && CODE_DATA_RELOCATION
    default y if QWIFI && CODE_DATA_RELOCATION
