# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: BSD-3-Clause


config QWIFI
	bool "QCOM wifi HAL"
	default n
	select QURT_ABSTRACTION_LAYER
	select LIBWIFIQCC730_SRC if SOC_QCC730
	select MBEDTLS
	select MBEDTLS_CMAC
	select MBEDTLS_CIPHER_AES_ENABLED
	select MBEDTLS_CIPHER_DES_ENABLED
	select MBEDTLS_PKCS5_C
	select MBEDTLS_NIST_KW_C
	select MBEDTLS_MD
	select MBEDTLS_SHA1
	select MBEDTLS_CIPHER
