
config QPOWER
	bool
	default n
	select QURT_ABSTRACTION_LAYER
	select QSYSTEM
	select QHW_SUPPORT

	# Tick compensation during PM sleep
	select COUNTER_QCC730_AON if PM && COUNTER && TICKLESS_KERNEL
	select COUNTER_QCC730 if PM && COUNTER && TICKLESS_KERNEL
	select CORTEX_M_SYSTICK_RESET_BY_LPM if PM && COUNTER && TICKLESS_KERNEL
	select CORTEX_M_SYSTICK_64BIT_CYCLE_COUNTER if PM && COUNTER && TICKLESS_KERNEL


