
config QPOWER
	bool
	default n
	select QURT_ABSTRACTION_LAYER
	select QSYSTEM
	select QHW_SUPPORT

	# Tick compensation during PM sleep
	select COUNTER_QCC730_AON if PM && COUNTER && TICKLESS_KERNEL
